body {
    background-color: cornflowerblue;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

.card {
    background-color: lightgrey;
    border-radius: 8px;
}

.btn {
    background-color: cornflowerblue;
}

ul {
    text-align: center;
    list-style-type: none;
}

li,
.btn {
    transition-property: all;
    transition-duration: 0.5s;
}

li:hover {
    background-color: cornflowerblue;
    color: white;
}

.btn:hover {
    color: white;
}

.jumbotron {
    background-color: lightgrey;
}